*.bridgesupport
*.gem
*.rbc
.dat*
.repl_history
.rspec_status
/.bundle/
/.config
/.yardoc
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
build-iPhoneOS/
build-iPhoneSimulator/
build/
/Gemfile.lock
/idp_metadata/*.xml
/.ruby-version